@import 'base.css';
@import 'components/container.css';
@import 'components/box.css';
@import 'components/pictures.css';
@import 'components/text.css';

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;1,500&family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;1,500&family=Bangers&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;1,500&family=Bangers&family=Rock+Salt&family=Rubik:wght@300&display=swap');

body {
  font-family: 'asap', sans-serif;
  margin: 0px; /* kein rand links*/
  padding-top: 100px; /* Abstand oben*/
  /* padding-left: 70px; */
  background-color: black;
}
.heading {
  /* oben links Carolin Weitkamp*/
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

.menue {
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  display: flex;
  margin-right: 10rem;
}

.menue a {
  color: #ffffff;
}

.menue li {
  margin-left: 1rem;
  margin-right: 1rem;
  list-style: none;
  color: rgb(255, 255, 255);
}

.menue-footer {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* margin-left: -1rem; */
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.menue-footer li {
  margin-left: 1rem;
  margin-right: 1rem;
}
